.feather-settings {
    margin-right: 14px;
}

.feather-users {
    margin-right: 14px;
}

.mr-auto,
.mx-auto {
    margin-left: auto !important;
}


/*
.main-box-statistics-percentage {
    margin-left: auto !important;
}

.my-auto {
    margin-left: auto !important;
} */